<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<%- include('partials/head'); %>
  </head>
  <body>
	<div class="container">
	<header>
    <%- include('partials/nav'); %>
	</header>
    <h1><%= title %></h1>
    <h2>Welcome to <%= title %></h2>
	<div class="card">
    <video width="300" controls>
      <source src="/images/SampleUnderRadar.mp4" type="video/mp4" >
    </video> 
    <div class="card-body">
      <h5 class="card-title">This is <%= title %></h5>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
	</div>
	<footer>
    <%- include('partials/footer'); %>
	</footer>
	</div>
  </body>
</html>