<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<%- include('partials/head'); %>
  </head>
  <body>
	<div class="container">
	<header>
    <%- include('partials/nav'); %>
	</header>
    <h1><%= title %></h1>
	<div class="card">
    <div class="card-body">
      <video width="300" height="600" controls> 
        <source src="/images/Recording.mp4" type="video/mp4" >
        Your browser does not support
      </video> </br>
      <audio controls>
        <source src="/images/Audio-Example.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>
      <a class="nav-link" href="/about/credits">Credits</a>
      <a class="nav-link" href="/about/contentmap">Content Map</a>
      <a class="nav-link" href="/users/secret">Secret</a>
      <a class="nav-link" href="/about/walkthrough">Walkthrough</a>
      <a class="nav-link" href="/about/wireframe">Wireframe</a>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
	</div>

	<footer>
    <%- include('partials/footer'); %>
	</footer>
	</div>
  </body>
</html>