<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<%- include('partials/head'); %>
  </head>
  <body>
	<div class="container">
	<header>
    <%- include('partials/nav'); %>
	</header>
    <h1><%= title %></h1>
    <div>
      <img src="/images/ContentMap.jpeg" style="object-fit: cover">
    </div>
	<footer>
    <%- include('partials/footer'); %>
	</footer>
	</div>
  </body>
</html>
