<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<%- include('partials/head'); %>
  </head>
  <body>
	<div class="container">
	<header>
    <%- include('partials/nav'); %>
	</header>
    <h1><%= title %></h1>
    <div>
      <ul>
        <li>
          <p> <a href="https://www.w3schools.com/ ">
            https://www.w3schools.com/ 
          </a>
          - Was used to look up basic usages of certain HTML elements and their behaivors.</p>
        </li>
        <li>
          <p> 
            <a href="https://stackoverflow.com/questions/2368784/draw-on-html5-canvas-using-a-mouse ">
              https://stackoverflow.com/questions/2368784/draw-on-html5-canvas-using-a-mouse 
            </a> 
            - How to draw on a Canvas.
          </p>
        </li>
        <li>
          <p> 
            <a href="https://lucid.app/documents#/dashboard?folder_id=home">
              https://lucid.app/documents#/dashboard?folder_id=
            </a> 
            - Used for Content Map.
          </p>
        </li>
        <li>
          <p>
            <a href="https://css.gg/">
              https://css.gg/
            </a> 
            - Used to learn how to get sprite icons. 
          </p>
        </li>
        <li>
          <p>
            <a href="https://file-examples.com/index.php/sample-audio-files/sample-mp3-download/">
              https://file-examples.com/index.php/sample-audio-files/sample-mp3-download/
            </a> 
            - Source for audio file in the about page. 
          </p>
        </li>
      </ul>
    </div>
	<footer>
    <%- include('partials/footer'); %>
	</footer>
	</div>
  </body>
</html>
